
<p>Edit</p>
<%= form_for(:subject, :url => {:action => 'update', :id => @subject.id}) do |f| %>
<table>
	<tr>
		<th>Name</th>
		<td><%=f.text_field(:name) %></td>
	</tr>
</table>
<%=submit_tag("Edit Subject") %>
<% end %>

