<p>New</p>
<%= form_for(:subject, :url => {:action => 'create'}) do |f| %>
<table>
	<tr>
		<th>Name</th>
		<td><%=f.text_field(:name) %></td>
	</tr>
</table>
<%=submit_tag("Create Subject") %>
<% end %>
